    body{background-color: #f4f4f4; margin: 0;}
    
    td{
        font-size: 13px;
        background-color: white;
        }
    
    
    .topLeft{
        width: 100px;
        height: 35px;
        padding: 5px;
    }
    .topRight{
        width: 264;
        height: 35px;
        padding: 5px;
        text-align: right;
    }
    .midLeft{
        width: 100;
        padding: 5px;
        vertical-align: top;
    }
    .midRight{
        width: 264;
        padding: 5px;
        text-align: center;
    }
    a {
    color: #60a1bfff;
    }
    .comments{
        text-align:left;
    }